---
import Layout from '../layouts/PageLayout.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
>
    <p></p>
    <h1>关于我的故事</h1>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欢迎来到我的新博客！我是一个热衷于探索新技术的人。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这个网站是使用 Astro 构建的，部署在 Cloudflare 的全球网络上。我对这个组合的性能和开发体验感到非常兴奋！</p>

	
</Layout>
