---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
    <div class="page-wrapper">
		<Header />
		<main>
            <p></p>
            <h1>🚀 你好，探索者！欢迎来到我的数字花园</h1>
            <p>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我是一名热衷于探索新知的学习者，这个博客是我技术探索之旅的“航行日志”。
            </p>
            <p>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在这里，我会记录下学习路上的“踩坑”经验、灵光一闪的瞬间，以及对知识的沉淀与思考。为了追求极致的性能和清爽的开发体验，我选择了 <a href="https://astro.build/">Astro</a> 作为构建这个空间的基石。
            </p>
            <p>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;愿我的笔记能成为你路途中的一块路标，也期待在这里与同样热爱学习的你相遇，交流思想，共同成长。
            </p>
        </main>
		<Footer />
    </div>
	</body>
</html>
